{% extends 'base.html' %}

{% block content %}

<h2>Rooms classification</h2>
<pre></pre>
<ul class="list-group list-group-flush" id="notes">





  <table>
    <tr>
      <th>Room</th>
      <th>Temperature difference</th>
      <th>Status</th>
    </tr>
    {% for d in rows %}
    <a href=exthour{{ d.day }}>{{ d.day }}</a>

    <tr>
      <th>{{ d.room }}</th>
      <th>{{ d.diff }}</th>
     <th>

        {% if d.diff<15 %}
    NORMAL
  {% elif d.diff>=15 and d.diff<18 %}
    OF INTEREST
  {% else %}
    ALARMING
  {% endif %}
  </th>
    </tr>
  {% endfor %}

{% endblock %}