{% extends 'base.html' %}

{% block content %}

<h2>All the extreme temperatures and their datetime:</h2>
<ul class="list-group list-group-flush" id="notes">









  <li class="list-group-item">

    Room--Difference--Status
  </li>



  {% for d in rows %}



    <li class="list-group-item">
      <a href=exthour{{ d.day }}>{{ d.day }}</a>
      {{ d.room }} ---
      {{ d.diff }} ---
      {% if d.diff<15 %}
        NORMAL
      {% elif d.diff>=15 and d.diff<18 %}
        OF INTEREST
      {% else %}
        ALARMING
      {% endif %}

    </li>
  {% endfor %}
</ul>

{% endblock %}