{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Room {{room}} {% endblock %}</h1>
    <h2>Humidity by Hour of room {{room}}:</h2>


    <ul class="list-group list-group-flush" id="notes">

      <li class="list-group-item">
        Room
        --------------Time---------------
        Humidity
      </li>



        {% for d in rows %}
          <li class="list-group-item">
             
            {{ d.room }} ---------
            {{ d.Time }} ---------
            {{ d.Humidity }}

          </li>
        {% endfor %}
    </ul>

{% endblock %}
